body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    background-color: rgb(1, 30, 65);
}

.container {
    text-align: center;
    background-color: white;
    padding: 25px;
    border-radius: 18px;
}

.inputs {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

button {
    padding: 10px 20px;
    background-color: #1f86ca;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    color: red;
    margin-top: 20px;
}